{
  "rules": {
    "block-spacing": [
      2
    ],
    "comma-dangle": [
      2
    ],
    "eol-last": [
      2
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "key-spacing": [
      2,
      {
        "afterColon": true,
        "beforeColon": false
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "new-parens": [
      2
    ],
    "no-dupe-args": [
      2
    ],
    "no-dupe-keys": [
      2
    ],
    "no-duplicate-case": [
      2
    ],
    "no-empty": [
      2
    ],
    "no-extra-boolean-cast": [
      1
    ],
    "no-extra-parens": [
      1
    ],
    "no-extra-semi": [
      1
    ],
    "no-func-assign": [
      2
    ],
    "no-inner-declarations": [
      1
    ],
    "no-irregular-whitespace": [
      2
    ],
    "no-mixed-spaces-and-tabs": [
      2
    ],
    "no-octal": [
      1
    ],
    "no-spaced-func": [
      2
    ],
    "no-sparse-arrays": [
      2
    ],
    "no-var": [
      1
    ],
    "object-curly-spacing": [
      2,
      "always"
    ],
    "prefer-template": [
      1
    ],
    "space-before-blocks": [
      2
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "spaced-comment": [
      2,
      "always"
    ],
    "space-unary-ops": [
      2,
      {
        "words": true,
        "nonwords": false
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
